@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-space-grotesk: "Space Grotesk", sans-serif;
    --font-manrope: "Manrope", sans-serif;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: var(--font-manrope);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }

  .font-heading {
    font-family: var(--font-space-grotesk);
  }

  .font-body {
    font-family: var(--font-manrope);
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
